h1 { 
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: normal;
  text-decoration: underline; 
  color: rgb(26, 26, 26);
}

.footer {
   position:absolute;
   width: 100%;
   background-color: rgb(26, 26, 26);
   color: white;
   text-align: left;
}

p{
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
  font-size: 12px; 
  font-style: normal; 
  font-variant: normal;
  color: white;
}

body {
   min-height: 1050px;
   margin-bottom: 100px;
   clear: both;
}