@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
:root{
  --statimg: url("invalid.png");
}

#btn {
    background-color: #fb0066;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
.spectable{
}

body {
 background-image: var(--statimg);
 background-repeat:no-repeat;
 min-width:1050px;
}
