@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root{
  --statimg: url("invalid.png");
}

#btn {
    background-color: #b90d08ff;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #b90d08ff;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}
.spectable{
}

body {
 background-image: var(--statimg);
 background-repeat:no-repeat;
 min-width:1050px;
}


input[type=number] {
    font-family: arial;
    font-size: 40px;
    color: black;
    border: solid black 0px;
    width: 100%;
    border-radius: opx;
    outline: none;
    width: 75px;
}